*
{
    box-sizing: border-box;
}
body
{
    background-repeat: no-repeat;
    background-image: url(log2.jpg);
    background-size: cover;
    text-align: center;
}
#divi1
{
    margin-top: 168px;
}
#p1
{
    color: white;
    font-size: 50px;
}
#in1
{    color: aliceblue;
    height: 79px;
    width: 111px;
}
#a1
{
    margin-left:21px;
    border-radius: 7px;
    outline-color: rgb(250, 121, 196);
}
#u1
{
    margin-left:10px;
    border-radius: 7px;
    outline-color: rgb(185, 130, 236);
}